@import "reset";

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  align-items: center;

  margin: 0 auto;
}

.header {                 //header-top
  position: fixed;
  z-index: 999;
  width: 100%;

  &__top {
    display: flex;

    height: 72px;
    background: #10BBD5;
    padding: 16px 0 16px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title-logo {
    width: 26px;
    height: 28px;
    background-image: url("../images/logos/header-title-logo.svg")
  }

  &__title {
    position: relative;
    top: 3px;
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    margin-left: 30px;
  }

  &__balance {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }

  &__cart-logo {
    position: relative;
    text-decoration: none;
    width: 40px;
    height: 40px;
    vertical-align: middle;

    border: none;
    background-color: transparent;
    cursor: pointer;
  }



  &__bot {   //header-bot
    display: flex;

    padding-top: 4px;
    background-color: #fff;
  }

  &__navigation-menu {

    a {
      color: #000;
      font-family: 'Cabin', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__menu {
    li {
      display: inline-block;

      padding-right: 40px;
    }

    li:last-child {
      padding: 0;
    }
  }

  &__text {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

// Main
.main {
  padding-top: 100px;

  &__top-title {
    color: #1F1F1F;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 36px;

    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
  }

  &__container-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    margin: 25px auto 0;
    row-gap: 32px;
    column-gap: 18px;
  }
}

.cards {
  padding-bottom: 120px;

  background-color: #f3f3f3;
}

// Card top
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
  width: 306px;
  min-height: 480px;
  transition: 0.2s;

  padding: 32px;

  border: 1px solid #8E8E8E;
  background-color: #FFFFFF;

  &:hover {
    box-shadow: 4px 8px 16px rgba(255,102,51,0.2);
  }

  &__top {
    flex: 0 0 280px;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      transition: 0.2s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__label-container {
    display: flex;
    position: absolute;
    z-index: 5;
    gap: 4px;
  }

  &__label {
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__label--hit {
    background: #4200FF;
    color: #fff;
  }

  &__label--new {
    background: #AF39E7;
    color: #fff;
  }

  &__label--discount {
    background: #EA33C0;
    color: #fff;
  }
}

.card {  //Card bottom
  &__bottom {
    flex: 1 0 auto;
  }

  &__titles {
    display: flex;
    flex-direction: column;
  }

  &__title {
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    margin-top: 16px;
  }

  &__subtitle {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    border-top: 1px solid #8E8E8E;
    margin-bottom: 8px;
  }

  &__price {
    display: flex;
    margin-bottom: 16px;

    &--discount {
      margin-right: 24px;

      color: #E90000;
      font-family: 'Cabin', sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }

    &--common {
      color: #8E8E8E;
      font-family: 'Cabin', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      text-decoration: line-through;
    }
  }

  &__btn {
    display: block;
    width: 100%;

    color: #F8FDFE;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;

    &--common {
      transition: ease 0.3s;
      background-color: #4C394E;
    }

    &--end {
      transition: ease 0.3s;
      background-color: #4D762D;
    }

    &--common:hover {
      transition: ease 0.3s;
      background-color: #744978;
    }

    &--end:hover {
      transition: ease 0.3s;
      background-color: #6DB236;
    }
  }
}

.chat {

  &__button {
    border: none;
    background-color: transparent;

    padding: 0;

    position: fixed;
    right: 1%;
    top: 70%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-50%) rotate(15deg);
    }
  }

}

.footer {
  background-color: #4C394E;
  padding: 32px 52px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &--mod::before {
      content: "\00A9";
      margin-right: 3px;
    }
  }

}
