@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
.header__top {
  display: flex;
  height: 72px;
  background: #10BBD5;
  padding: 16px 0 16px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__title-logo {
  width: 26px;
  height: 28px;
  background-image: url("../images/logos/header-title-logo.svg");
}
.header__title {
  position: relative;
  top: 3px;
  color: #F8FDFE;
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-left: 30px;
}
.header__balance {
  color: #F8FDFE;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.header__cart-logo {
  position: relative;
  text-decoration: none;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__bot {
  display: flex;
  padding-top: 4px;
  background-color: #fff;
}
.header__navigation-menu a {
  color: #000;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.header__menu li {
  display: inline-block;
  padding-right: 40px;
}
.header__menu li:last-child {
  padding: 0;
}
.header__text {
  color: #000;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main {
  padding-top: 100px;
}
.main__top-title {
  color: #1F1F1F;
  font-family: "Cabin", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 36px;
  padding-bottom: 23px;
  border-bottom: 1px solid #A8A8A8;
}
.main__container-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  margin: 25px auto 0;
  row-gap: 32px;
  column-gap: 18px;
}

.cards {
  padding-bottom: 120px;
  background-color: #f3f3f3;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  width: 306px;
  min-height: 480px;
  transition: 0.2s;
  padding: 32px;
  border: 1px solid #8E8E8E;
  background-color: #FFFFFF;
}
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.card__top {
  flex: 0 0 280px;
  position: relative;
}
.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.card__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  transition: 0.2s;
}
.card__img:hover img {
  transform: scale(1.1);
}
.card__label-container {
  display: flex;
  position: absolute;
  z-index: 5;
  gap: 4px;
}
.card__label {
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.card__label--hit {
  background: #4200FF;
  color: #fff;
}
.card__label--new {
  background: #AF39E7;
  color: #fff;
}
.card__label--discount {
  background: #EA33C0;
  color: #fff;
}

.card__bottom {
  flex: 1 0 auto;
}
.card__titles {
  display: flex;
  flex-direction: column;
}
.card__title {
  overflow: hidden;
  color: #1F1F1F;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 16px;
}
.card__subtitle {
  overflow: hidden;
  color: #8E8E8E;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-top: 1px solid #8E8E8E;
  margin-bottom: 8px;
}
.card__price {
  display: flex;
  margin-bottom: 16px;
}
.card__price--discount {
  margin-right: 24px;
  color: #E90000;
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.card__price--common {
  color: #8E8E8E;
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-decoration: line-through;
}
.card__btn {
  display: block;
  width: 100%;
  color: #F8FDFE;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
}
.card__btn--common {
  transition: ease 0.3s;
  background-color: #4C394E;
}
.card__btn--end {
  transition: ease 0.3s;
  background-color: #4D762D;
}
.card__btn--common:hover {
  transition: ease 0.3s;
  background-color: #744978;
}
.card__btn--end:hover {
  transition: ease 0.3s;
  background-color: #6DB236;
}

.chat__button {
  border: none;
  background-color: transparent;
  padding: 0;
  position: fixed;
  right: 1%;
  top: 70%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.chat__button:hover {
  transform: translateY(-50%) rotate(15deg);
}

.footer {
  background-color: #4C394E;
  padding: 32px 52px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__text {
  color: #F8FDFE;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer__text--mod::before {
  content: "©";
  margin-right: 3px;
}

/*# sourceMappingURL=main.css.map */
